body {
	background: #d6e4e6 url(../images/background.jpg) top left repeat;
}

#Container {}
	
	#Header {
		height: 50px;
		background: #fff;
	}
	
		#Header #logo {
			float: left;

		}
		#Header #logo a {
			font-size: 40px;
			color: #000;
			text-decoration: none;
		}
	
		#MainNav { float: left; }
		#MainNav li {
			list-style: none;
			float: left;
		}
		
		#Header #login { float: right; } 

	#Main {
		position: relative;
		width: 900px;
		margin: 0px auto;
	}
	
		#Ads {
			position: absolute;
			width: 150px;
			background: #fff;
			left: 0;
			top: 10px;
		}
		#Ads img, #Ads p { margin-left: 10px;}
		
		#FlashCard {
			top: 10px;
			left: 160px;
			position: absolute;
			background: #fff;
			width: 700px;
			height: 500px;
			background: #f1f2ef url(../paper.jpg) top left repeat;
		}
		
		#FlashCard #word-count,
		#FlashCard #display-size,
		#FlashCard #preferences,
		#FlashCard #controls {
			position: absolute;
		}
		#FlashCard #word-count { top: 0px; left: 0px;}
		#FlashCard #display-size { top: 0px; right: 0px;}
		#FlashCard #preferences { bottom: 0px; left: 0px;}
		#FlashCard #controls { bottom: 0px; right: 0px;}
		
		#FlashCard h1 {
			text-align: center;
			font-weight: normal;
			font-size: 80px;
			color: #000;
			text-shadow: 2px 2px 2px #aaa;
		}
		
	
	#Footer {
		position: fixed;
		bottom: 0px;
		left: 0px;
		height: 25px;
		background: #fff;
		opacity: 0.7;
		-moz-opacity: 0.7;
		filter:alpha(opacity=70);
		font-size: 12px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topright: 3px;
		border-top-right-radius: 3px;
	}
	
	#Footer #credits {
		line-height: 2em;
		margin-left: .5em;
		margin-right: 1em;
	}